Thumbs.db
*.mxproject
*.project
*.ld
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
.idea/
packages/
/Debug/
/Release/
/build/
/Debug_*/
/Release_*/
/*.elf
/*.hex
/*.bin
/*.map
/*.lst
/*.d
/*.o
/*.dep

/.settings/
/.cproject
*.launch
*.log
